body {background-color:#829c66 }
.container1{background-color:#ffaa56 }
h1,h2,p,h3{color:#f7f1d7 }
h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  h3 {font-family: 'Playfair Display', serif;
    text-align:left;
    margin-left: 4%;
    margin-right: 4%;
}
h2 {
font-family: 'Playfair Display', serif;
text-align:left;
margin-left: 4%;
margin-right: 4%;

}
 p {
    font-family: 'Work Sans', sans-serif;
    margin-left: 4%;
    margin-right: 4%;
  }
body {
    font-family: 'Work Sans', sans-serif;
}
.carousel-inner{
 width: 80%;
 margin-left: 10%; 
 display:90vh;
}
.ms-3{
margin-right: 20%;

}
